
@{
    ViewBag.Title = "Index";
}


<a href="/Principal/Index" class="btn btn-primary">Regresar </a>

<div style="width:96%;text-align:center;">

    <h2>Manejo de Producto</h2>

</div>

<div style="width:100%;text-align:center;">


    <img src="~/image/producto.png" />


</div>

<div style="width:95%;text-align:center;">

    <a href="/Producto/Form" class="btn btn-primary">Registro de productos </a>
    <a href="/Producto/Show_Datos" class="btn btn-success">Ver lista de productos </a>

</div>
