
@{
    ViewBag.Title = "Index";
}


<a href="/Principal/Index" class="btn btn-primary">Regresar </a>

<div style="width:96%;text-align:center;">

    <h2>Inventario</h2>

</div>

<div style="width:94%;text-align:center;">



    <img src="~/image/inventario.png" />



</div>

<div style="width:95%;text-align:center;">

    <a href="/Inventario/FormI" class="btn btn-primary">Registro de Inventario </a>
    <a href="/Inventario/Show_Datos_I" class="btn btn-success">Ver lista de Inventario</a>

</div>

