
@{
    ViewBag.Title = "Index";
}


<a href="/Principal/Index" class="btn btn-primary">Regresar </a>

<div style="width:96%;text-align:center;">

    <h2>Facturacion</h2>

</div>

<div style="width:94%;text-align:center;">


    <img src="~/image/factura.png" />
   



</div>

<div style="width:95%;text-align:center;">

    <a href="/Facturacion/FormF" class="btn btn-primary">Registro de Factura </a>
    <a href="/Facturacion/Show_Datos_F" class="btn btn-success">Ver lista de Facturacion</a>

</div>


