
@{
    ViewBag.Title = "Index";
}

<div style="width:100%;text-align:center;">

    <h2>Bienvenidos</h2>
    <h3>Sistema de Facturacion</h3>

</div>


<div style="width:100%;text-align:center;">


    <img src="~/image/sist fac pq.png" />

</div>


<div style="width:100%;text-align:center;">


    <h3>Elija una opción </h3>

</div>

<div style="width:100%;text-align:center;">

    <a href="/Producto/Index" class="btn btn-primary">Productos </a>
    <a href="/Cliente/Index" class="btn btn-success">Clientes </a>
    <a href="/Proveedor/Index" class="btn btn-primary">Proveedores </a>
    <a href="/Inventario/Index" class="btn btn-success">Inventario </a>
    <a href="/Facturacion/Index" class="btn btn-primary">Facturacion </a>

</div>
